.wrapper
  .mask
  nav.navigation
    button.btn-canvas#btn-canvas(type="button") GO
    ul.menu
      li: a(href="#") List1
      li: a(href="#") List2
      li: a(href="#") List3
  main.main-content
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ad natus laboriosam. Ad omnis laboriosam fuga similique beatae voluptates recusandae, ipsa qui odit dolorem! Ratione voluptate consequuntur magni, vel illum.